<meta charset="UTF-8">
<title>Gcc compiler</title>   
<!-- CSS -->  

<!--
<script src="/ajax/jspopper.min.js"></script>
<script src="/codemirror-5.36.0/lib/codemirror.js"></script>
<link rel="stylesheet" href="/codemirror-5.36.0/lib/codemirror.css">

<link rel=stylesheet href="/codemirror-5.36.0/lib/codemirror.css">
<link rel=stylesheet href="/codemirror-5.36.0/doc/docs.css"> 
<script src="/codemirror-5.36.0/lib/codemirror.js"></script>
<script src="/codemirror-5.36.0/mode/xml/xml.js"></script>
<script src="/codemirror-5.36.0/mode/javascript/javascript.js"></script>
<script src="/codemirror-5.36.0/mode/css/css.js"></script>
<script src="/codemirror-5.36.0/mode/htmlmixed/htmlmixed.js"></script>
<script src="/codemirror-5.36.0/addon/edit/matchbrackets.js"></script>
-->
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/jquery/jquery-3.2.1.slim.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<link rel=stylesheet href="/codemirror-5.36.0/doc/docs.css">
<link rel="stylesheet" href="/codemirror-5.36.0/lib/codemirror.css">
<script src="/codemirror-5.36.0/lib/codemirror.js"></script>
<script src="/codemirror-5.36.0/addon/edit/matchbrackets.js"></script>
<link rel="stylesheet" href="/codemirror-5.36.0/addon/hint/show-hint.css">
<script src="/codemirror-5.36.0/addon/hint/show-hint.js"></script>
<script src="/codemirror-5.36.0/mode/clike/clike.js"></script>
<style>.CodeMirror {border: 2px inset #dee;}</style>


<!--

<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/jquery/jquery-3.2.1.slim.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<link rel=stylesheet href="/codemirror-5.36.0/lib/codemirror.css">
<link rel=stylesheet href="/codemirror-5.36.0/doc/docs.css">
<script src="/codemirror-5.36.0/lib/codemirror.js"></script>
<script src="/codemirror-5.36.0/mode/xml/xml.js"></script>
<script src="/codemirror-5.36.0/mode/javascript/javascript.js"></script>
<script src="/codemirror-5.36.0/mode/css/css.js"></script>
<script src="/codemirror-5.36.0/mode/htmlmixed/htmlmixed.js"></script>
<script src="/codemirror-5.36.0/addon/edit/matchbrackets.js"></script>
<script src="/codemirror-5.36.0/doc/activebookmark.js"></script>
<script src="/carga.js";></script>


<style>.CodeMirror {border: 2px inset #dee;}</style>
-->
