<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

		<div class="navbar-header">
			<button class="btn-primary" onclick="compilar()">Compilar</button>
			<button class="btn-primary" onclick="debugear()">Debuguear</button>
			<button class="btn-primary" href="/">Contiunar</button>
			<button class="btn-primary" onclick="siguientePunto()">Siguiente</button>
			<button class="btn-primary" href="/">Saltar</button>
			<button class="btn-primary" href="/">Automatico</button>
			<button class="btn-primary" href="/">Exportar</button>
		</div>

		<ul class="nav navbar-nav">
			<li><a href="/">Inicio</a></li>
		</ul>
	  
	</div>
</nav>