<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
  <body class="container bg-info">
    <header>
      <% include ../partials/header %>
    </header>
        <div class="text-center bg-danger text-white ">
            <h1>GCC Compiler</h1>
            <p>Nueva lección A-Coach</p> 
        </div> 
        <div class="container">
          <div class="row">
            <div class="col-sm">
                <div class="container-fluid">
                    <form method="post" action="/registrarA">
                      <div class="form-group">     
                        <label type="col-sm">Título</label>                   
                        <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Nueva lección G-Coach" required="true">
                      </div>
                      <div class="form-group">  
                      <label type="col-sm">Explicación</label>                            
                        <textarea class="form-control" id="explicacion" name="explicacion" rows="4" required="true"></textarea>
                      </div>       
                      <div class="form-group">   
                        <label type="col-sm">Código de Ejemplo</label>                           
                        <textarea class="form-control" id="codigoEjemplo" name= "codigoEjemplo" rows="8" required="true"></textarea>
                      </div>  
                      <div class="form-group">  
                        <label type="col-sm">Enunciado de Tarea</label>                            
                        <textarea class="form-control" id="enunciadoTarea" name ="enunciadoTarea" rows="4" required="true"></textarea>
                      </div>   
                      <div class="form-group">    
                        <label type="col-sm">Pruebas</label>                          
                        <textarea class="form-control" id="pruebas" name = "pruebas" rows="1" required="true"></textarea>
                      </div> 
                      <div class="form-group">    
                        <button type="submit" class="btn btn-primary">Crear nueva lección</button>                                                                                                       
                      </div>                                                 
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Carga Masiva</span>
                          </div>
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="archivo">
                            <label class="custom-file-label" for="inputGroupFile01">Elegir archivo</label>
                          </div>
                        </div>                      
                    </form>           
                </div>              
            </div>                                        
          </div>
        </div>            
    </body> 

  <script>
        /*Agregar evento al input file*/
        document.getElementById('archivo')
            .addEventListener('change', leerArchivo, false);     
        function leerArchivo(e) 
        {
          var archivo = e.target.files[0];                           
          if (!archivo) 
          {
              return;
          }
          var lector = new FileReader();
          lector.onload = function(e)
          {
              var contenido = e.target.result;
              //mostrarContenido(contenido);

              var data = new FormData();
              data.append('data', contenido); 
              //parseo(contenido);         
              var lecciones = carga.parse(contenido);
              enviarPeticion(lecciones);
              //enviarPeticion(contenido);
          };
            lector.readAsText(archivo);
        }

        function mostrarContenido(contenido) 
        {
            parseo(contenido);
          enviarPeticion();
        }  

      var http_request = false;

      function enviarPeticion(data) {

          var url = '/cargaMasiva';
          http_request = false;

          if (window.XMLHttpRequest) { 
              http_request = new XMLHttpRequest();
              if (http_request.overrideMimeType) {
                  http_request.overrideMimeType('text/xml');
                  // Ver nota sobre esta linea al final
              }
          } else if (window.ActiveXObject) { // IE
              try {
                  http_request = new ActiveXObject("Msxml2.XMLHTTP");
              } catch (e) {
                  try {
                      http_request = new ActiveXObject("Microsoft.XMLHTTP");
                  } catch (e) {}
              }
          }

          if (!http_request) {
              alert('Falla :( No es posible crear una instancia XMLHTTP');
              return false;
          }


          http_request.onreadystatechange = alertContents;
          http_request.open('POST', url, true);
          http_request.setRequestHeader("Content-type", "application/json");
          http_request.setRequestHeader("dataType", "json");
          http_request.send(JSON.stringify(data));
          //http_request.send(data);

      }

      function alertContents() {

          if (http_request.readyState == 4) {
              if (http_request.status == 200) {
                  alert(http_request.responseText);
              } else {
                  alert('Hubo problemas con la petición.');
              }
          }
      }    
      
      function parseo(cadena)
      {
          var lecciones = carga.parse(cadena);
      }


        function prepararArea(area, tipo)
        {
            var cEditor = CodeMirror.fromTextArea(document.getElementById(area),
            {                 
                lineNumbers: true,
                matchBrackets: true,
                mode: "text/x-csrc",
                inputStyle: "contenteditable",               
                gutters: ["CodeMirror-linenumbers", "breakpoints"]
            });
            cEditor.on("gutterClick", function(cm, n) 
            {
                var info = cm.lineInfo(n);
                cm.setGutterMarker(n, "breakpoints", info.gutterMarkers ? null : makeMarker());
                if(info.gutterMarkers == null)
                {
                    agregarBreakPoint( obtenerActivo().substring(4, obtenerActivo().length-4), n);
                }
                else
                {
                    quitarBreakPoint(obtenerActivo().substring(4, obtenerActivo().length-4), n);
                }       
            });                
        }  
        
        prepararArea("codigoEjemplo");      
  </script>  
</html>