<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
	<body class="container bg-info">
		<header>
			<% include ../partials/header %>
		</header>
        <div class="text-center bg-danger text-white ">
            <h1>GCC Compiler</h1>
            <p>Nueva lección A-Coach</p> 
        </div> 
        <div class="container">
          <div class="row">
            <div class="col-sm">
                <div class="container-fluid">
                    <form method="post" action="/registrarA">
                      <div class="form-group">     
                        <label type="col-sm">Título</label>                   
                        <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Nueva lección A-Coach" required="true">
                      </div>
                      <div class="form-group">  
                      <label type="col-sm">Explicación</label>                            
                        <textarea class="form-control" id="explicacion" name="explicacion" rows="4" required="true"></textarea>
                      </div>       
                      <div class="form-group">   
                        <label type="col-sm">Código de Ejemplo</label>                           
                        <textarea class="form-control" id="codigoEjemplo" name= "codigoEjemplo" rows="8" required="true"></textarea>
                      </div>  
                      <div class="form-group">  
                        <label type="col-sm">Enunciado de Tarea</label>                            
                        <textarea class="form-control" id="enunciadoTarea" name ="enunciadoTarea" rows="4" required="true"></textarea>
                      </div>   
                      <div class="form-group">    
                        <label type="col-sm">Pruebas</label>                          
                        <textarea class="form-control" id="pruebas" name = "pruebas" rows="1" required="true"></textarea>
                      </div> 
                      <div class="form-group">    
                        <button type="submit" class="btn btn-primary">Crear nueva lección</button>
                        <a class="btn btn-primary" href ="/cargaMasiva">Carga masiva</a>                        
                      </div>                       
                    </form>           
                </div>              
            </div>                                        
          </div>
        </div>            
    </body>
    <script>
        function busqueda() {
            var input, filtro, ul, li, a, i;
            input = document.getElementById("entrada");
            filtro = input.value.toUpperCase();
            ul = document.getElementById("listaLecciones");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filtro) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";        
                }
            }
        }

        function filtro(tipo)
        {
	        	//alert(tipo);
	            var input, filtro, ul, li, a, i;
	            input = document.getElementById("entrada");
	            filtro = tipo.toUpperCase();           
	            ul = document.getElementById("listaLecciones");
	            li = ul.getElementsByTagName("li");
	            for (i = 0; i < li.length; i++) {
	                a = li[i].getElementsByTagName("a")[0];
	                if (a.innerHTML.toUpperCase().indexOf(filtro) > -1) {
	                    li[i].style.display = "";
	                } else {
	                    li[i].style.display = "none";        
	                }
	            }
        }
    </script>  
</html>