<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
	<body class="container bg-info">
        <div class="text-center bg-danger text-white ">
            <h1>GCC Compiler</h1>
            <p>Participar en Lección</p> 
        </div> 
		<header>
            <% include ../partials/headerE %>
        </header>                
        <div class="custom-file">            
            <input type ="file" id = "archivo" name= "archivo" class = "custom-file-input">            
            <label class="custom-file-label" for="inputGroupFile01">Abrir Archivo</label>
        </div>        
          


       

        <!--<button class="btn btn-danger" onclick="nuevo()">+</button>-->


        <nav id="archivos">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
            </div>
        </nav>
        <div class="tab-content" id="tab-content"  >                                
        </div>
    </body>
    <script>          
        /*Agregamos el evento para preparar*/
        document.getElementById('archivo')
            .addEventListener('change', nuevo, false);    


        /*Agregar evento al input file*/
        document.getElementById('archivo')
            .addEventListener('change', leerArchivo, false);        

        function nuevo() 
        {         
            var path = document.getElementById('archivo').value;            
            var partes = path.split("\\");
            //alert(partes.length);
            var sub = partes[2];
            var subP = sub.split(".");
            var id = subP[0];
            var nav = document.getElementById('nav-tab'); 
            //alert(list.className);              
            var titulo = document.createElement('a');
            titulo.className = "nav-item nav-link";
            titulo.id = "nav-"+sub+"-tab";
            titulo.setAttribute("data-toggle","tab");
            titulo.setAttribute("href" , "#nav-" +sub );
            titulo.setAttribute("role","tab");
            titulo.setAttribute("aria-controls","nav-"+id);
            titulo.setAttribute("aria-selected","true"); 
            var textnode = document.createTextNode(sub);
            titulo.appendChild(textnode);
            //document.getElementById("titulo").appendChild(titulo);
            /*         
            */
            /* 
            titulo.onclick = function()
                {                    
                    var lista = document.getElementById("archivos").getElementsByTagName("li");                    
                    var i;
                    for (i = 0; i < lista.length; i++) 
                    { 
                        //lista[i].className = "nav-item nav-link ";
                        //lista[i].setAttribute("aria-selected","false");
                    }                    
                }            
            */            
            nav.appendChild(titulo);       
                        
            // Ahora agregamos area de disposición                         
            var contenedorPaginas = document.getElementById('tab-content');  // Tabla contenedora de archivos.
            /*Pestaña contenedor de los elementos del archivo.*/
            var contEdicion = document.createElement('div');
            contEdicion.className = "tab-pane fade";
            contEdicion.id = 'nav-'+sub;
            contEdicion.setAttribute("role","tabpanel");
            contEdicion.setAttribute("aria-labelledby", "nav-"+sub+"-tab");
            contEdicion.setAttribute("aria-controls","nav-"+sub); 
            contEdicion.setAttribute("aria-selected","false");
            /*Contenedor de area de edicion, debuger y reportes.*/
            var contenedor = document.createElement('div');
            contenedor.className = "container";
            /*Primera fila de la tabla.*/
            var filaTitulos = document.createElement('div');
            filaTitulos.className = "row";
            /*Titulo editor*/
            var colTituloEditor = document.createElement('div');
            colTituloEditor.className = "col-6";
            var tituloEditor = document.createElement('h2');
            tituloEditor.className = "display-3";        
            tituloEditor.appendChild(document.createTextNode('Editor'));
            
            /*Titulo Debugger*/
            var colTituloDeb = document.createElement('div');
            colTituloDeb.className = "col-6";
            var tituloDebo = document.createElement('h2');
            tituloDebo.className = "display-3";        
            tituloDebo.appendChild(document.createTextNode('Debugger'));            

            /*Agregamos primer fila a la pestaña-*/            
            colTituloEditor.appendChild(tituloEditor);
            colTituloDeb.appendChild(tituloDebo);
            filaTitulos.appendChild(colTituloEditor);
            filaTitulos.appendChild(colTituloDeb);
            contenedor.appendChild(filaTitulos);

            /*Segunda fila de la tabla*/
            var filaEditores = document.createElement('div');
            filaEditores.className = "row";
            /*Primer columna Editor*/
            var columnaEditor = document.createElement('div');
            columnaEditor.className = "col-6";            
            /*Segunda columna Debugger*/
            var columnaDeb = document.createElement('div');
            columnaDeb.className = "col-6";                
            var contenedorEditor = document.createElement('div');
            /*Editor de texto */
            var editor = document.createElement('TEXTAREA');
            editor.id = sub ;
            editor.setAttribute("rows","8");
            editor.value =sub;                                      
            /*Editor de debugger*/
            var editorD = document.createElement('TEXTAREA');
            editorD.id = sub+"D" ;
            editorD.setAttribute("rows","8");
            editorD.value =sub+"Debugger";            
           
            /*Titulo área de edicion*/
            var tituloE = document.createElement('h2');
            tituloE.className = "display-4";
            var t1 = document.createTextNode("Editor");
            tituloE.appendChild(t1);

            /*Titulo área de debugger*/
            var tituloD = document.createElement('h2');
            tituloD.className = "display-4";
            var t2 = document.createTextNode("Debugger");
            tituloE.appendChild(t2);

            //columnaEditor.appendChild(titulE);
            columnaEditor.appendChild(editor);

            //columnaDeb.append(tituloD);
            columnaDeb.append(editorD);


            /*Fila de Salida consola----------------------------------------------------------------------*/
            var filaSalida = document.createElement('div');
            filaSalida.className = 'row';
                
            /*Tab pannel contenedor*/
            var tabPannel = document.createElement('nav');
            tabPannel.id = "Tab" + sub;

            /*Navegador del tab*/
            var navTab = document.createElement('div');
            navTab.className = "nav nav-tabs";
            navTab.id = "nav-tab-" + sub;
            navTab.setAttribute("role","tablist");

            /*Pestaña de tab*/
            var contenedorSalida = document.createElement('div');
            contenedorSalida.className = "tab-content";
            contenedorSalida.id = "tab-content";

            /*Titulos de las pestañas*/
            /*Consola*/
            var consolaTab = document.createElement('a');
            consolaTab.className = "nav-item nav-link";
            consolaTab.id = "nav-consola-" + sub +"tab";
            consolaTab.setAttribute("data-toggle","tab");
            consolaTab.setAttribute("href","#nav-" +sub+"Salida");
            consolaTab.setAttribute("aria-controls","navSalida"+sub);
            consolaTab.setAttribute("aria-selected","false");
            consolaTab.appendChild(document.createTextNode('Salida'));

            /*Contenedor salida*/
            var contSalida = document.createElement('div');
            contSalida.className = "tab-pane fade";
            contSalida.id ="nav-" +sub+"Salida" //"navCont-"+sub;
            contSalida.setAttribute("role","tabpanel");
            contSalida.setAttribute("aria-labelledby","nav-"+sub+"tabSalida");
            
            /*Area de texto..*/            
            var areaSalida = document.createElement('TEXTAREA');
            areaSalida.id = sub ;
            areaSalida.setAttribute("rows","8");
            areaSalida.value = "Consola de salida";    
            contSalida.appendChild(areaSalida);
            
            navTab.append(consolaTab);//Titulo Consola de salida
            contenedorSalida.appendChild(contSalida);

            tabPannel.appendChild(navTab);// Titulos Pestaña
            tabPannel.appendChild(contenedorSalida);// Contenedor Pestaña
            filaSalida.appendChild(tabPannel);



            /*
            <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
            </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home1" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile1" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact1" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
                    </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home1" role="tabpanel" aria-labelledby="nav-home-tab">...1</div>
                        <div class="tab-pane fade" id="nav-profile1" role="tabpanel" aria-labelledby="nav-profile-tab">...2</div>
                        <div class="tab-pane fade" id="nav-contact1" role="tabpanel" aria-labelledby="nav-contact-tab">...3</div>
                    </div>                
                
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
            </div>           
            */
            
            filaEditores.appendChild(columnaEditor);
            filaEditores.appendChild(columnaDeb);
            contenedor.appendChild(filaEditores);
            contenedor.appendChild(filaSalida);
            contEdicion.appendChild(contenedor);
            contenedorPaginas.appendChild(contEdicion);

            //prepararArea(editorD.id);
            //prepararArea(editor.id);
                             
        }      

        function leerArchivo(e) 
        {
            var archivo = e.target.files[0];                           
            if (!archivo) {
                return;
            }
            var lector = new FileReader();
            lector.onload = function(e) {
                var contenido = e.target.result;
                mostrarContenido(contenido);
            };
            lector.readAsText(archivo);
        }

        function mostrarContenido(contenido) 
        {
            //alert(contenido);

            /*Para buscar el editor adecuado*/
            var path = document.getElementById('archivo').value;  
            var partes = path.split("\\");
            //alert(partes.length);
            var sub = partes[2];
            //alert('Buscando editor ' + sub);

            var elemento = document.getElementById(sub);            
            elemento.value = contenido;

            prepararArea(sub);
            prepararArea(sub+"D");
            //elemento.innerHTML = contenido;
        }

        
        function prepararArea(area)
        {
            var cEditor = CodeMirror.fromTextArea(document.getElementById(area),
            //var cEditor = CodeMirror.fromTextArea(area,
            {
            lineNumbers: true,
            matchBrackets: true,
            mode: "text/x-java"
            });             
        }                
    </script>  
</html>