<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
	<body class="container">

		<header>
			<% include ../partials/header %>
		</header>

        <div class="jumbotron text-center">
            <h1>GCC Compiler</h1>
            <p>Sistema de aprendizaje de lenguaje gcc</p> 
        </div> 

	        <div class="container">
	            <div class="row">
	                <div class="col-sm-8">
	                    <div class="container-fluid"> 
	                    </div>                
	                </div>
	                <div class="col-sm-4">
	                    <div class="dropdown">
	                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Tipo de lecci贸n
	                        <span class="caret"></span></button>
	                        <ul class="dropdown-menu">
	                            <li><a href="#">A-Goach</a></li>
	                            <li><a href="#">G-Goach</a></li>    
	                        </ul>
	                    </div> 
	                </div>
	            </div>
	        </div>
	        
	        <br>
	        <br>
	        <div class="container">
	            <div class="row">
	                <div class="col-sm">
	                    <div class="container">
	                        <div class="col-sm">
	                            <a  class="btn btn-primary" href="/coachA.html">Crear Lecci贸n A-Goach</a>
	                        </div>
	                        <div class="col-sm">                                
	                        </div>                         
	                        <div class="col-sm">
	                            <button type="button" class="btn btn-success">Crear Lecci贸n G-Goach</button>
	                        </div>
	                        <div class="col-sm">                                
	                        </div> 
	                        <div class="col-sm">                                
	                        </div> 
	                        <div class="col-sm">                                
	                        </div> 
	                        <div class="col-sm">
	                                <button type="button" class="btn btn-success">Editor de texto</button>
	                        </div>                                                                                     
	                    </div>
	                </div>
	                <div class="col-sm">
	                        <input type="text" id="entrada" onkeyup="filtrado()" placeholder="Nombre de la lecci贸n.." title="Escriba el nombre">
							<ul id="listaLecciones" >
							    <% titulos.forEach(function(titulo) { %>
							        <li><a href="#"><%= titulo.titulo %></a></li>
							    <% }); %>
							</ul>	                                   
	                </div>
	            </div>
	        </div>
	    </body>
		<footer>
	</body>


    <script>
        function filtrado() {
            var input, filtro, ul, li, a, i;
            input = document.getElementById("entrada");
            filtro = input.value.toUpperCase();
            ul = document.getElementById("listaLecciones");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filtro) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
        
                }
            }
        }
    </script>  
</html>