<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
	<body class="container bg-info">

		<header>
			<% include ../partials/header %>
		</header>
        <div class="text-center bg-danger text-white ">
            <h1>GCC Compiler</h1>
            <p>Sistema de aprendizaje de lenguaje gcc</p> 
        </div> 
		<div class="container">
		  <div class="row">
		    <div class="col-sm">
		    	<div class="col-sm">
					<a  class="btn btn-primary" href="/coachA">Crear Lecci贸n A-Goach</a>
				</div>
				<div class="col-sm">
					<a  class="btn btn-primary" href="/coachG">Crear Lecci贸n G-Goach</a>                	
                </div>
                <div class="col-sm">
                	<a  class="btn btn-primary" href="#">Editor de texto</a>                					
                </div>
		    </div>
		    <div class="col-9 ">
				<div class="dropdown">
				  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				    Tipo de lecci贸n
				  </button>
				  <div class="dropdown-menu">
				    <a class="dropdown-item" onclick="filtro('G-Coach');return false;">G-Coach</a>
				    <a class="dropdown-item" onclick="filtro('A-Coach');return false;">A-Coach</a>				   
				    <a class="dropdown-item" onclick="filtro('-');return false;">Todas</a>
				  </div>
				</div>
				<input type="text" id="entrada" onkeyup="busqueda()" placeholder="Nombre de la lecci贸n.." title="Escriba el nombre">	                        	
				<ul id="listaLecciones" class="list-group-item list-group-item-action" >
				    <% titulos.forEach(function(titulo) {%>
				        <li class="list-group-item" id="<%= titulo.tipo%>"  >
				        	<a href="/coachA/<%= titulo.codigo%>">
								<div class="container">
								  <div class="row">
								    <div class="col-sm">
								      <%= titulo.titulo %>
								    </div>
								    <div class="col-sm">
								      <%= titulo.tipo%>
								    </div>
								  </div>
								</div>
							</a>								
						</li>				        
				    <% }); %>
				</ul>	                                                                      
		    </div>
		  </div>
		</div>
		<footer>
	</body>


    <script>
        function busqueda() {
            var input, filtro, ul, li, a, i;
            input = document.getElementById("entrada");
            filtro = input.value.toUpperCase();
            ul = document.getElementById("listaLecciones");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filtro) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";        
                }
            }
        }

        function filtro(tipo)
        {
	        	//alert(tipo);
	            var input, filtro, ul, li, a, i;
	            input = document.getElementById("entrada");
	            filtro = tipo.toUpperCase();           
	            ul = document.getElementById("listaLecciones");
	            li = ul.getElementsByTagName("li");
	            for (i = 0; i < li.length; i++) {
	                a = li[i].getElementsByTagName("a")[0];
	                if (a.innerHTML.toUpperCase().indexOf(filtro) > -1) {
	                    li[i].style.display = "";
	                } else {
	                    li[i].style.display = "none";        
	                }
	            }
        }
        function mensaje(id)
        {
        	alert(id);
        }
    </script>  
</html>